<div class="pb-2 mt-4 mb-2">
  <h1 class="text-center">
    <span class="burger-title">
      <%= burger() %>
    </span>
    Hog's Burger Blog
    <span class="burger-title">
      <%= burger() %>
    </span>
  </h1>
</div>


<% @posts.each do |post| %>
  <div class="container-fluid post pt-4 pb-4">
    <div class="container pb-2 border-bottom">
      <div class="row">
        <div class="col-12 col-sm-4 post-image">
          <%= image_tag(post.image, class: "rounded img-fluid") %>
        </div>
        <div class="col-12 col-sm-8 mt-6 post-details">
          <h2 class="border-bottom">
            <%= post.title %>
          </h2>
          <p><%= post.text %></p>
          <p><%= display_rating(post) %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
