<div class="container pb-2 mt-4 mb-2 border-bottom">
  <h1>HogsBurgerBlog admin</h1>
</div>
<div class="container">
<h2>Posts</h2>
<table class="table" />
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= link_to post.text, edit_admin_post_path(post), class: "text-secondary" %></td>
      <td>
        <%= link_to "#{post.comments.length} comments", admin_post_comments_path(post) %>
      </td>
      <td>
        <%= link_to 'X', admin_post_path(post), class: "btn btn-danger btn-xs",
          method: :delete,
          data: { confirm: 'Are you sure?' } %>
    </td>
    </tr>
  <% end %>
</table>
</div>

<div class="container mt-4">
  <%= link_to 'New post', new_admin_post_path, class: "btn btn-primary" %>
<div>
