<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
  <ul class="navbar-nav mr-auto">
    <a class="navbar-brand burger-icon-nav" href="#"><%= burger_colour %></a>
    <li class="nav-item d-flex align-items-center">
      <%= active_link_to "Hog's Burger Blog", '/blog', class: 'nav-link' %>
    </li>
    <li class="nav-item d-flex align-items-center">
      <%= active_link_to "Hog's Burger Queries", '/questions', class: 'nav-link' %>
    </li>
  </ul>
  <%= form_tag(search_path, method: :get, class: "search-form d-flex flex-row justify-content-end") do %>
    <%= hidden_field_tag :column , params[:column] %>
    <%= hidden_field_tag :direction , params[:direction] %>
    <%= text_field_tag(:search, params[:search], class: "form-control mr-sm-2", placeholder: "search") %>
    <%= submit_tag("Go", class: "btn btn-success search-button") %>
  <% end %>
</nav>
